* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://cdn.searchenginejournal.com/wp-content/uploads/2022/07/faq-632c0874710c1-sej.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion {
    background-color: #fff;
    border-radius: 10px;
    padding: 2em;
    width: 60%;
}
.accordion-title {
    text-align: center;
}
.question {
    border-bottom: 1px solid #333;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1em 0;
}
.question::after {
    content: "+";
    position: absolute;
    right: 20%;
}
.answer {
    padding-top: 1em;
    line-height: 1.5em;
    height: 0;
    overflow: hidden;
    transition: .5s;
}